# ---
node_modules/
.venv/
venv/
env/
.env
.direnv/
target/

# ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
stepcode.egg-info/

# ---
dist/
build/
out/
*.log

# --- 
.DS_Store
Thumbs.db
