# ---
node_modules/
.venv/
venv/
env/
.env
.direnv/
.vscode/

# ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# ---
dist/
build/
out/
*.log

# --- 
.DS_Store
Thumbs.db
